* {
  margin: 0;
  padding: 0;
}

/* ANIMATIONS */

/* LEFT PANEL ANIMATION */

@keyframes leftPanelAnimation {
  0% {
    opacity: 0;
  }

  20% {
    opacity: 0;
  }

  30% {
    opacity: 0;
  }

  90% {
    opacity: 1;
  }

  100% {
    opacity: 1;
  }
}

@-webkit-keyframes leftPanelAnimation {
  0% {
    opacity: 0;
  }

  20% {
    opacity: 0;
  }

  30% {
    opacity: 0;
  }

  90% {
    opacity: 1;
  }

  100% {
    opacity: 1;
  }
}

@-moz-keyframes leftPanelAnimation {
  0% {
    opacity: 0;
  }

  20% {
    opacity: 0;
  }

  30% {
    opacity: 0;
  }

  90% {
    opacity: 1;
  }

  100% {
    opacity: 1;
  }
}

/* RIGHT PANEL ANIMATION */

@keyframes rightPanelAnimation {
  0% {
    opacity: 0;
  }

  20% {
    opacity: 0;
  }

  30% {
    opacity: 0;
  }

  90% {
    opacity: 0.5;
  }

  100% {
    opacity: 0.5;
  }
}

@-webkit-keyframes rightPanelAnimation {
  0% {
    opacity: 0;
  }

  20% {
    opacity: 0;
  }

  30% {
    opacity: 0;
  }

  90% {
    opacity: 0.5;
  }

  100% {
    opacity: 0.5;
  }
}

@-moz-keyframes rightPanelAnimation {
  0% {
    opacity: 0;
  }

  20% {
    opacity: 0;
  }

  30% {
    opacity: 0;
  }

  90% {
    opacity: 0.5;
  }

  100% {
    opacity: 0.5;
  }
}

/* End Animations */

body {
  background: url("../img//background.jpg");
  background-position: center;
  clear: both;
  height: auto;

  .title {
    box-sizing: border-box;
    width: 100%;
    display: flex;
    justify-content: center;
    padding: 1em;
    background: url("../img/heroes2.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    color: #fff;
    height: auto;
    text-align: center;

    header {
      .title-subtitle {
        color: rgba(255, 255, 255, 0.75);
        font-size: 24px;
      }

      .nav-link {
        display: inline-block;
        font-size: 24px;
        padding: 0.5em 1em;
        color: rgba(255, 255, 255, 0.835);
        font-weight: bold;
        text-decoration: none;
      }

      .nav-link-active {
        color: #fff;
        border-bottom: 2px solid;
      }
    }
  }

  .searchHeroInput {
    display: flex;
    align-items: center;
    background: rgb(0, 0, 0);
    background: linear-gradient(
      90deg,
      rgba(0, 0, 0, 1) 0%,
      rgba(248, 0, 0, 1) 50%,
      rgba(0, 0, 0, 1) 100%
    );
    justify-content: center;
    margin-bottom: 2rem;
    padding: 20px;

    .searchTitle {
      color: #fff;
      margin-right: 20px;
    }

    input {
      padding: 10px;
      width: 300px;
    }

    button {
      background: green;
      border-radius: 20px;
      color: #fff;
      margin-left: 20px;
      padding: 10px;
      width: 100px;

      &:hover {
        border: 3px solid #fff;
      }
    }
  }

  .author {
    color: #fff;
    text-align: center;
    h1 {
      margin-bottom: 30px;
    }
    img {
      -webkit-animation: leftPanelAnimation 2s linear 0s;
      -moz-animation: leftPanelAnimation 2s linear 0s;
      -ms-animation: leftPanelAnimation 2s linear 0s;
      -o-animation: leftPanelAnimation 2s linear 0s;
      animation: leftPanelAnimation 2s linear 0s;
      border-radius: 100%;
      width: 400px;
    }
    .portfolioLink {
      -webkit-animation: rightPanelAnimation 4s linear 0s;
      -moz-animation: rightPanelAnimation 4s linear 0s;
      -ms-animation: rightPanelAnimation 4s linear 0s;
      -o-animation: rightPanelAnimation 4s linear 0s;
      animation: rightPanelAnimation 4s linear 0s;
      a {
        color: #fff;
        font-size: 24px;
        text-decoration: underline;
      }
    }
  }

  .optionInfo {
    display: flex;
    padding: 20px;

    .left {
      -webkit-animation: leftPanelAnimation 2s linear 0s;
      -moz-animation: leftPanelAnimation 2s linear 0s;
      -ms-animation: leftPanelAnimation 2s linear 0s;
      -o-animation: leftPanelAnimation 2s linear 0s;
      animation: leftPanelAnimation 2s linear 0s;
      box-sizing: border-box;
      text-align: center;
      color: #fff;
      background-color: #000;
      font-size: 28px;
      float: left;
      height: auto;
      opacity: 1;
      padding: 20px;
      width: 50%;

      p {
        font-size: 34px;
        margin-bottom: 10px;
      }

      img {
        height: auto;
      }
    }

    .right {
      -webkit-animation: rightPanelAnimation 4s linear 0s;
      -moz-animation: rightPanelAnimation 4s linear 0s;
      -ms-animation: rightPanelAnimation 4s linear 0s;
      -o-animation: rightPanelAnimation 4s linear 0s;
      animation: rightPanelAnimation 4s linear 0s;
      display: flex;
      align-items: center;
      justify-content: center;
      box-sizing: border-box;
      color: #fff;
      background-color: #000;
      font-size: 34px;
      float: left;
      padding: 20px;
      text-align: center;
      width: 50%;
      height: auto;
      opacity: 0.5;

      p {
        margin-bottom: 10px;
      }
      .barContainer {
        background: gray;
        border-radius: 5%;
        height: 25px;
        width: 100%;
        .progressBar {
          background-color: aqua;

          height: 25px;
          z-index: 10;
        }
      }
    }
  }

  .heroList {
    width: calc(100% - 80px);
    margin: auto;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 40px;

    .heroCard {
      display: flex;
      justify-content: center;

      .cardImageContainer {
        text-align: center;
        background: #000;
        border: 3px solid #fff;
        border-radius: 8%;
        height: 500px;
        color: #fff;
        padding: 10px;
        width: 350px;

        &:hover {
          border: 3px solid yellow;
        }

        img {
          width: 80%;
          height: 290px;
        }

        hr {
          background: #f80000;
          border-radius: 100%;
          height: 2px;
          margin: auto;
          width: 80%;
        }

        button {
          background: #f80000;
          border-radius: 20px;
          color: #fff;
          display: block;
          font-size: 16px;
          margin: auto;
          margin-top: 10px;
          padding: 10px;

          &:hover {
            cursor: pointer;
          }
        }
      }
    }
  }

  .footerContainer {
    background-color: #f80000;
    clear: both;
    color: #fff;
    font-size: 24px;
    padding: 20px;
    text-align: center;
    margin-top: 80vh;
  }
}
